// main: styles.less

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-pagination-bullet {
    margin-right: 20px !important;
    width: 15px !important;
    height: 15px !important;
    background: rgba(255, 255, 255, 0.4) !important;
  }

  .swiper-pagination-bullet-active {
    background: #fff !important;
  }



.hero {
    max-width: 1770px;
    // height: 620px;
    background: url(../images/hero1.png) no-repeat #fff;
    background-size: cover;
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    color: #fff;
      // @media (max-width: 1200px) {
      //   padding: 50px 40px;
      // }
      @media @breakpoint-laptop {
        padding: 160px 77px;
      }
      @media @breakpoint-tablet {
        padding: 160px 40px;
      }

    &__heading {
        margin: 0;
        width: 55%;
        height: 170px;
        font-weight: 800;
        font-size: 70px;
        line-height: 85px;

        @media (max-width: 1800px) {
          width: 100%;
        }
        @media (max-width: 1200px) {
          font-size: 60px;
          line-height: 73px;
        }
        @media (max-width: 992px) {
          font-size: 50px;
          line-height: 61px;
        }
    }

    &__description {
        margin-top: 24px;
        width: 55%;
        font-weight: 600;
        font-size: 1.4vw;
        line-height: 29px;

        @media (max-width: 1200px) {
          width: 80%;
          font-size: 20px;
        }
        @media (max-width: 992px) {
          font-size: 18px;
        }
        

    }

    &__btn {
        margin-top: 70px;
        width: 280px;
        height: 78px;

    }


}

.hero-second {
  background: url(../images/hero2.png) no-repeat #fff;
}

.hero-third {
  background: url(../images/hero3.png) no-repeat #fff;
}
