// compress: true, sourceMap: true


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
@import "_vars";

* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
};



.wrapper {
    max-width: 1770px;
    margin: 0 75px;

    @media @breakpoint-laptop {
        margin: 0 50px;
    }

    @media @breakpoint-tablet {
        margin: 0 15px;   
    }
}


@import "_header";
@import "_hero";
@import "_btn";
@import "_about";
@import "_how";
@import "_faq";
@import "_footer";

// back to top button

#back-to-top {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #back-to-top::after {
    content: url(/images/btt.svg);  
  }
  #back-to-top:hover {
    cursor: pointer;
    background-color: @darkorange;
  }
  #back-to-top:active {
    background-color: @gray;
  }
  #back-to-top.show {
    opacity: 1;
    visibility: visible;
  }